<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.excel.mapper.SMapper">
  <resultMap id="BaseResultMap" type="com.example.excel.domain.S">
    <!--@mbg.generated generated on Thu Jul 04 10:40:25 CST 2019.-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="course" jdbcType="VARCHAR" property="course" />
    <result column="score" jdbcType="DOUBLE" property="score" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Jul 04 10:40:25 CST 2019.-->
    id, `name`, course, score
  </sql>
</mapper>